---
import { getImage } from "astro:assets";
import audiocomBackground from "../../assets/img/audiocom-background.webp";
import { Image } from "astro:assets";
import FeaturedVideo from "../video/FeaturedVideo";
import JoinAudioDotComButton from "../button/JoinAudioDotComButton";
import AudioDotComLogo from "../../assets/img/audiocom_wordmark_offwhite_transparentbg.svg";
import VideoPlaceholder from '../../assets/img/audiocom-placeholder.webp'

// Optimize the background image
const optimizedBg = await getImage({
  src: audiocomBackground,
  format: "webp",
  width: 960, // Default size, you can adjust based on your needs
  quality: 50,
});

const releaseVideoPlaceholderImage = await getImage({
  src: VideoPlaceholder,
  format: "webp",
  width: 448,
  quality: 80,
});

const releaseVideo = {
  title: "Introducing Audio.com",
  placeholderImage: releaseVideoPlaceholderImage.src,
  videoURL: "https://www.youtube-nocookie.com/embed/ZDnQgaCoppo?autoplay=1",
  imageAltText: "Video thumbnail: 15 reasons why you should use Audio.com"
};
---

<!-- Apply the background using inline style -->
<section style={`background-image: url('${optimizedBg.src}'); background-size: cover;`}>
  <div class="mx-auto px-6 xs:px-12 md:px-8 py-8 md:py-8 lg:py-12 max-w-screen-lg">
    <div class="flex flex-col md:flex-row gap-12 md:gap-16">
      <!-- Video Column - Order changes on mobile vs desktop -->
      <div class="w-full md:w-1/2 order-2 md:order-1">
        <FeaturedVideo
          client:load
          placeholderImage={releaseVideo.placeholderImage}
          imageAltText={releaseVideo.imageAltText}
          videoURL={releaseVideo.videoURL}
          textColor="text-slate-50"
          matomoEventName={releaseVideo.title}
        />
      </div>
      
      <!-- Text Content Column -->
      <div class="w-full md:w-1/2 order-1 md:order-2 flex flex-col gap-4 md:gap-8">
        <Image src={AudioDotComLogo} class="w-40" alt="audio.com" />
        <div>
          <h2 class="text-white">Level up your Audacity</h2>
          <p class="text-gray-300 mt-4">
            Audio.com, the online companion to Audacity, lets you collaborate on
            projects, create versioned backups, and easily share and publish your
            work.
          </p>
        </div>

        <JoinAudioDotComButton
          href="https://audio.com/audacity/auth/sign-in?mtm_campaign=audacityteamorg&utm_content=Block_button"
        />
      </div>
    </div>
  </div>
</section>