---
import NEWBlogPostCard from "../../components/card/NEWBlogPostCard.astro";

import { getCollection } from "astro:content";
const publishedBlogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const maxposts = 3;
---

<section class="pt-8 pb-16 bg-slate-100">
  <div class="max-w-screen-xl mx-6 sm:mx-12 md:mx-16 xl:mx-auto">
    <h2 class="text-left sm:text-center">
      New from our <a href="/blog" class="hyperlink">blog</a>
    </h2>

    <div class="grid grid-cols-12 my-4 sm:my-8 md:my-12 gap-y-8 sm:gap-8 md:gap-12">
      {
        publishedBlogPosts
        .sort((a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime())
        .slice(0,maxposts)
        .map((post) => {
          // Only pass props that match the expected Props interface
          return (
            <NEWBlogPostCard
              href={post.slug}
              title={post.data.title}
              description={post.data.description}
              publishDate={post.data.publishDate}
              cover={post.data.cover}
              coverAlt={post.data.coverAlt}
            />
          );
        })
      }
    </div>
  </div>
</section>
