---
import BlogListingCard from "../card/BlogListingCard.astro";

interface Frontmatter {
  title: string;
  slug: string;
  thumbnail: string;
  date: string;
  author: string;
  description: string;
}

const posts = await Astro.glob<Frontmatter>("../../pages/posts/*.md");
---

<section class="bg-gray-50 py-12">
  <div class="max-w-screen-xl mx-auto grid grid-cols-12 gap-y-8">
    <div class="col-start-2 col-span-10 text-center"><h2>Latest from the <a href="/blog" class="hyperlink">blog</a></h2></div>
    <div class="col-start-2 col-span-10 grid grid-cols-12 gap-6 row-start-2">
      {
        posts
          .slice(0, 3)
          .sort(
            (a, b) =>
              Date.parse(a.frontmatter.date) - Date.parse(b.frontmatter.date)
          )
          .map((post) => (
            <BlogListingCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              href={`/posts/${post.frontmatter.slug}`}
              thumbnail={post.frontmatter.thumbnail}
              author={post.frontmatter.author}
              date={post.frontmatter.date}
            />
          ))
      }
    </div>
  </div>
</section>

<!-- 
 -->
