---
import DownloadButton from "../button/DownloadAudacityButton";
import AudacityMockUp from "../../assets/img/HeroBannerImage.webp";
import DownloadMuseHubButton from "../button/DownloadMuseHubButton";
import FeaturedVideo from "../video/FeaturedVideo";
import ReleaseVideoPlaceholder from "../../assets/img/audacity-placeholder.webp";
import promoPlaceholder from "../../assets/img/promo/ace-placeholder.webp";
import MuseHubProductShot from "../../assets/img/MuseHub-product-shot.webp";

// Release videos
const releaseVideo = {
  title: "Our latest release",
  label: "Master channel, new realtime effects & more!",
  placeholderImage: ReleaseVideoPlaceholder,
  videoURL: "https://www.youtube-nocookie.com/embed/f5TXPUOFH6A?autoplay=1",
};

const promoVideo = {
  title: "ACE Studio showcase",
  label:
    "Ad: Turn your lyrics into song with ACE Studio, the AI singing voice generator.",
  placeholderImage: promoPlaceholder,
  videoURL: "https://www.youtube-nocookie.com/embed/QTlB5UR-IEE?autoplay=1",
  CTA: true,
  ctaText: "Try for free",
  ctaURL:
    "https://www.musehub.com/app/ace-studio?utm_source=au-web&utm_medium=mh-app-cta&utm_campaign=au-web-mh-app-ace-studio",
};
---

<section id="main" class="bg-slate-800">
  <!-- Parent grid -->
  <div
    class="grid md:grid-cols-6 lg:grid-cols-12 p-6 gap-6 xl:py-8 xl:px-12 xl:max-w-screen-xl xl:mx-auto"
  >
    <!-- Muse Hub container -->
    <div
      class="row-start-2 md:row-start-1 col-span-12 md:col-span-2 lg:col-span-3 bg-purple-500 rounded-lg flex flex-col overflow-hidden"
    >
      <div class="md:pt-4 lg:pt-6">
        <img
          alt="A laptop showing the Audacity application"
          src={MuseHubProductShot.src}
          class="relative md:left-4 lg:left-6 shadow-lg"
        />
      </div>

      <div class="flex flex-col grow justify-between gap-4 p-6 lg:p-6">
        <div class="flex flex-col gap-2">
          <h3 class="text-white">Get free effects, samples and VSTs</h3>
          <p class="text-white">
            Download Audacity via the Muse Hub and access 100s of free samples,
            effects and more!
          </p>
        </div>
        <DownloadMuseHubButton />
      </div>
    </div>

    <!-- Audacity container -->
    <div
      class="col-span-12 md:col-span-4 lg:col-span-6 h-fill bg-gradient-to-r from-indigo-900 to-blue-700 rounded-lg px-8 pt-2"
    >
      <div class="flex flex-col gap-8 no-wrap">
        <h1 class="text-white">
          Produce music. Produce podcasts. Take total control of your sound.
          Audacity is free, forever.
        </h1><DownloadButton />
      </div>
      <img
        alt="A laptop showing the Audacity application"
        src={AudacityMockUp.src}
      />
    </div>

    <!-- Floating videos -->
    <div
      class="col-span-12 md:col-span-6 lg:col-span-3 flex flex-col sm:flex-row lg:flex-col gap-6 lg:gap-8"
    >
      <FeaturedVideo
        client:load
        title={releaseVideo.title}
        label={releaseVideo.label}
        placeholderImage={releaseVideo.placeholderImage}
        videoURL={releaseVideo.videoURL}
      />
      <FeaturedVideo
        client:load
        title={promoVideo.title}
        label={promoVideo.label}
        placeholderImage={promoVideo.placeholderImage}
        videoURL={promoVideo.videoURL}
        CTA={promoVideo.CTA}
        ctaText={promoVideo.ctaText}
        ctaURL={promoVideo.ctaURL}
      />
    </div>
  </div>
</section>
