---
import RecordAnything from "../../assets/img/record-anyting.jpg";
import RecordAnything2 from "../../assets/img/RecordAnything2.jpg";
import Waveform from "../../assets/img/waveform.png";
import TransportTools from "../../assets/img/TransportTools.png";
import RecordCursor from "../../assets/img/RecordCursor.png";
---

<section class="bg-slate-50">
  <div class="grid grid-cols-12 max-w-screen-xl gap-y-4 mx-auto py-12">
    <div
      class="flex flex-col justify-center gap-2 md:gap-4 col-start-2 col-span-10 md:col-start-2 md:col-span-4"
    >
      <h2>Record anything</h2>
      <p>
        Excellent for podcasts, voice-over work or even just recording memos.
        All you need is a microphone.
      </p>
    </div>

    <div
      class="col-start-2 md:col-start-7 col-span-10 md:col-span-5 grid grid-cols-6 grid-rows-auto gap-4"
    >
      <div class="relative col-span-6 h-48">
        <div class="absolute -right-7 top-28 md:top-28 h-16 w-64 md:w-72">
          <img class="object-fit rounded-lg" src={TransportTools} />
        </div>
        <img
          class="object-cover object-top h-full w-full rounded-lg"
          src={RecordAnything}
        />
      </div>
      <div class="relative row-start-2 col-span-3 hidden xl:block h-48">
        <div class="absolute -right-3 bottom-0">
          <img class="w-full h-52 object-cover" src={RecordCursor} />
        </div>
        <img class="h-full w-full rounded-lg" src={Waveform} />
      </div>
      <div class="row-start-2 col-span-3 h-48 hidden xl:block">
        <img class="h-full w-full rounded-lg" src={RecordAnything2} />
      </div>
    </div>
  </div>
</section>
