---
import { releaseData } from "../../assets/js/releaseData";
import OSDownloadCard from "../../components/card/OSDownloadCard.astro";
import PaginationButton from "../../components/PaginationButton.astro";
import DownloadPageLayout from "../../layouts/DownloadPageLayout.astro";
---

<DownloadPageLayout title="Download for Mac">
  <div class="mb-16">
    <div class="mb-12 divide-y">
      <h4 class="text-md font-bold mb-4">Universal</h4>
      <OSDownloadCard
        title={releaseData.mac.universal.name}
        downloadURL={releaseData.mac.universal.browser_download_url}
        checksum="82762426cd3256d30d065b3f99d2f4e20e5ad1944cf25ed4c094ad2690c9b730"
      />
    </div>
    <div class="mb-12 divide-y">
      <h4 class="text-md font-bold mb-4">x86</h4>
      <OSDownloadCard
        title={releaseData.mac.x86.name}
        downloadURL={releaseData.mac.x86.browser_download_url}
        checksum="82762426cd3256d30d065b3f99d2f4e20e5ad1944cf25ed4c094ad2690c9b730"
      />
    </div>
    <div class="divide-y">
      <h4 class="text-md font-bold mb-4">ARM32</h4>
      <OSDownloadCard
        title={releaseData.mac.arm64.name}
        downloadURL={releaseData.mac.arm64.browser_download_url}
        checksum="82762426cd3256d30d065b3f99d2f4e20e5ad1944cf25ed4c094ad2690c9b730"
      />
    </div>
  </div>

  <div class="flex flex-col gap-4 sm:flex-row mt-16">
    <PaginationButton
      title="Linux"
      url="/downloads/download-for-linux"
    /><PaginationButton title="Windows" url="/downloads/download-for-windows" />
  </div>

</DownloadPageLayout>
