---
interface Props {
  title: string;
  description: string;
  href: string;
  thumbnail: string;
  author: string;
  date: string;
}
const { title, description, href, thumbnail, author, date } =
  Astro.props as Props;
---

<div class="bg-white flex flex-col py-12">
  <div class="flex gap-8">
    <img src={thumbnail} class="h-40 w-40 object-cover rounded" />
    <div class="flex flex-col space-y-2">
      <a href={href}
        ><h3
          class="text-xl font-bold text-gray-900 hover:text-blue-700 hover:underline"
        >
          {title}
        </h3></a
      >
      <p class="text-base font-normal text-gray-700 mt-2">{description}</p>
      <div class="pt-4">
        <p class="font-bold text-gray-800">By {author}</p>
        <p class="font-mono text-gray-700">{date}</p>
      </div>
    </div>
  </div>
</div>
