---
import BlogPostCard from "../components/card/BlogPostCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

interface Frontmatter {
  title: string;
  slug: string;
  thumbnail: string;
  date: string;
  description: string;
  author: string;
}

const posts = await Astro.glob<Frontmatter>("./posts/*.md");
---

<BaseLayout title="Audacity | Blog">
  <section class="mt-14 max-w-screen-lg mx-auto grid grid-cols-12">
    <div class="col-start-2 col-span-10 sm:text-center mt-12">
      <h2 class="text-3xl sm:text-5xl font-bold">Blog posts</h2>
      
    </div>

    <div class="col-start-2 col-span-10 grid grid-cols-12 md:mx-12 mt-8 lg:mt-12 mb-12 lg:mb-20 gap-y-8 lg:gap-x-8">
      {
        posts
          .sort(
            (a, b) =>
              Date.parse(a.frontmatter.date) - Date.parse(b.frontmatter.date)
          )
          .map((post) => (
            <BlogPostCard
              title={post.frontmatter.title}
              description={post.frontmatter.description.slice(0, 100) + "..."}
              href={`/posts/${post.frontmatter.slug}`}
              thumbnail={post.frontmatter.thumbnail}
              author={post.frontmatter.author}
              date={post.frontmatter.date}
            />
          ))
      }
    </div>
  </section>
</BaseLayout>
