---
import BlogListingCard from "../components/card/BlogListingCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

interface Frontmatter {
  title: string;
  slug: string;
  thumbnail: string;
  date: string;
  description: string;
  author: string;
}

const posts = await Astro.glob<Frontmatter>("./posts/*.md");
---

  <PageLayout title="Blog">
    <main class="mt-8">
        <div class="grid md:grid-cols-2 gap-8">
          {
            posts
              .sort(
                (a, b) =>
                  Date.parse(a.frontmatter.date) -
                  Date.parse(b.frontmatter.date)
              )
              .map((post) => (
                <BlogListingCard
                  title={post.frontmatter.title}
                  description={
                    post.frontmatter.description.slice(0, 100) + "..."
                  }
                  href={`/posts/${post.frontmatter.slug}`}
                  thumbnail={post.frontmatter.thumbnail}
                  author={post.frontmatter.author}
                  date={post.frontmatter.date}
                />
              ))
          }
        </div>
    </main>
  </PageLayout>
