---
interface Props {
  imgSrc: string;
  featuredText: string;
  title: string;
  badgeText: string;
  flipped: boolean;
  href: String
}

const { imgSrc, featuredText, title, badgeText, flipped, href } =
  Astro.props as Props;
import Badge from "./Badge.astro";
---

<div class="grid grid-cols-12 gap-x-20 items-center">
  {!flipped && <img class="col-span-8 aspect-video rounded-md shadow-lg" src={imgSrc} />}
  <div class="col-span-4 flex flex-col">
    <Badge badgeText={badgeText} />
    <h3 class="text-2xl font-bold mt-2 text-gray-800">{title}</h3>
    <p class="text-gray-700 mt-2">
      {featuredText}
    </p>
    <a
      class="font-medium inline-flex gap-x-2 hover:underline text-blue-700 mt-6"
      href={href}
      >Learn more<svg
        class="fill-blue-700 w-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
        ></path></svg
      ></a
    >
  </div>
  {flipped && <img class="col-span-8 aspect-video rounded-md shadow-lg" src={imgSrc} />}
</div>
