---
import promoData from "../assets/data/promotions";
import CookieConsent from "../components/banner/CookieConsent";
import PromoBanner from "../components/banner/PromoBanner";
import Footer from "../components/footer/Footer.astro";
import NavigationReact from "../components/navigation/NavigationReact";

export interface Props {
  title: string;
  description?: string;
  index?: string;
  showPromoBanner?: boolean;
}
const {
  title = "Audacity | Free Audio editor, recorder, music making and more!",
  description = "Audacity is the world's most popular audio editing and recording app. Edit, mix, and enhance your audio tracks with the power of Audacity. Download now!",
  index = "all",
  showPromoBanner = true,
} = Astro.props;

const isNoAdPage =
  Astro.request.url.includes("/post-download") ||
  Astro.request.url.includes("/au4");
const hasActiveStaticPromo = Object.values(promoData).some((promo) => {
  const isActive = promo.isActive ?? true;
  return isActive && Boolean(promo.cta);
});
const shouldShowPromoBanner =
  showPromoBanner && !isNoAdPage && hasActiveStaticPromo;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style is:global>
      @import "../styles/input.css";
    </style>
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content={index} />
    <meta
      name="keywords"
      content="Audacity, audio editing, audio recorder, open-source, audio software, sound editing, audio mixer"
    />

    <title>{title}</title>
    <script src="../assets/js/matomoTracking.js"></script>
  </head>
  <body
    data-branch={import.meta.env.NETLIFY_CONTEXT ||
      process.env.CONTEXT ||
      "main"}
  >
    <a class="skip-to-content" href="#main" aria-label="Skip to content"
      >Skip to content</a
    >
    <header class="z-50 sticky left-0 right-0 top-0">
      <NavigationReact client:load currentURL={Astro.request.url} />
      {shouldShowPromoBanner && <PromoBanner client:only="react" />}
    </header>

    <slot />
    <Footer />
    <CookieConsent client:load />
    <script src="../assets/js/cookieConsent.js"></script>
  </body>
</html>
