---
import Footer from "../components/footer/Footer.astro";
import NavigationReact from "../components/navigation/NavigationReact";
import CookieConsent from "../components/banner/CookieConsent";
import "../styles/input.css";
import BetaBanner from "../components/banner/BetaBanner";
import SurveyBanner from "../components/banner/SurveyBanner";
import PromoBanner from "../components/banner/PromoBanner";
import useBrowserOS from "../hooks/useDetectOS";

export interface Props {
  title: string;
  description: string;
  index: string;
}
const {
  title = "Audacity | Free Audio editor, recorder, music making and more!",
  description = "Audacity is the world's most popular audio editing and recording app. Edit, mix, and enhance your audio tracks with the power of Audacity. Download now!",
  index = "all",
} = Astro.props;

const isPostDownloadPage = Astro.request.url.includes("/post-download");

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link href="/output.css" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content={index} />
    <meta
      name="keywords"
      content="Audacity, audio editing, audio recorder, open-source, audio software, sound editing, audio mixer"
    />

    <title>{title}</title>
    <script src="../assets/js/matomoTracking.js"></script>
  </head>
  <main class="flex flex-col h-screen">
    <body>
      <a class="skip-to-content" href="#main" aria-label="Skip to content"
        >Skip to content</a
      >
      <header class="z-50 sticky left-0 right-0 top-0">
        <NavigationReact client:load currentURL={Astro.request.url} />
        <BetaBanner client:load url={Astro.request.url}/>
        <SurveyBanner client:load url={Astro.request.url}/>
        {!isPostDownloadPage && <PromoBanner client:load/> }
      </header>

      <div class="flex-1">
        <slot />
      </div>
      <Footer />
      <CookieConsent client:load />
    </body>
    <script src="../assets/js/cookieConsent.js"></script>
  </main>


</html>
