---
import Footer from "../components/footer/Footer.astro";
import NavigationReact from "../components/navigation/NavigationReact";
import CookieConsent from "../components/banner/CookieConsent";
import BetaBanner from "../components/banner/BetaBanner";
import SurveyBanner from "../components/banner/SurveyBanner";
import PromoBanner from "../components/banner/PromoBanner";
import useBrowserOS from "../hooks/useDetectOS";

export interface Props {
  title: string;
  description?: string;
  index?: string;
}
const {
  title = "Audacity | Free Audio editor, recorder, music making and more!",
  description = "Audacity is the world's most popular audio editing and recording app. Edit, mix, and enhance your audio tracks with the power of Audacity. Download now!",
  index = "all",
} = Astro.props;

const isNoAdPage = Astro.request.url.includes("/post-download") || Astro.request.url.includes("/au4a1");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <style is:global>
      @import "../styles/input.css";
    </style>
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="robots" content={index} />
    <meta
      name="keywords"
      content="Audacity, audio editing, audio recorder, open-source, audio software, sound editing, audio mixer"
    />

    <title>{title}</title>
    <script src="../assets/js/matomoTracking.js"></script>
  </head>
  <body
    data-branch={import.meta.env.NETLIFY_CONTEXT ||
      process.env.CONTEXT ||
      "main"}
  >
    <a class="skip-to-content" href="#main" aria-label="Skip to content"
      >Skip to content</a
    >
    <header class="z-50 sticky left-0 right-0 top-0">
      <NavigationReact client:load currentURL={Astro.request.url} />
      {!isNoAdPage && <BetaBanner client:load url={Astro.request.url} />}
      {!isNoAdPage && <SurveyBanner client:load url={Astro.request.url} />}
      {!isNoAdPage && <PromoBanner client:load />}
    </header>

    <slot />
    <Footer />
    <CookieConsent client:load />
    <script src="../assets/js/cookieConsent.js"></script>
  </body>
</html>
