---
import BaseLayout from "./BaseLayout.astro";
import DownloadCard from "../components/card/DownloadCard";
import IconLinkCard from "../components/card/IconLinkCard";
import PlatformDownloadMuseHubButton from "../components/button/PlatformDownloadMuseHubButton";
import { Icon } from "astro-icon/components";
import "../styles/icons.css";
import {
  museHubReleases,
} from "../assets/data/museHubReleases";
import type { ReleaseInfo } from "../assets/data/audacityReleases";
import type { MuseHubReleaseInfo } from "../assets/data/museHubReleases";

export interface Props {
  title: string;
  description: string;
  OS: string;
  version: string;
  releaseData: ReleaseInfo[];
  museHubReleaseData?: MuseHubReleaseInfo[];
  iconName: string;
  iconColor: string;
}
const {
  title,
  description,
  OS,
  version,
  releaseData,
  museHubReleaseData,
  iconName,
  iconColor,
} = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class="max-w-screen-md mx-auto">
    <section id="main" class="py-12">
      <div class="flex flex-col gap-4 col-start-2 col-span-10 items-center ">
        <div class=`h-8 w-8 ${iconColor}`>
          <Icon name={`fa6-brands:${iconName}`} />
        </div>
        <h1 class="text-center">
          Download for {`${OS}`}
        </h1>
        <div
          class="flex flex-col text-center items-center sm:flex-row sm:align-left sm:gap-2"
        >
          <p>Current version {`${version}`}</p>
          <p class="hidden sm:block">|</p>
          <a
            class="hyperlink"
            href="https://support.audacityteam.org/additional-resources/changelog"
            >View changelog</a
          >
        </div>
      </div>
    </section>

    {
      OS !== "Linux" && (
        <section class="mx-4 sm:mx-12 mb-4">
          <div class="border border-bg-200 rounded-md p-6">
            <div class="flex flex-col sm:flex-row gap-2 justify-between items-center">
              <div class="flex-col gap-2">
                <h2 class="text-xl font-semibold">
                  Audacity installer (recommended)
                </h2>
                <p>via Muse Hub</p>
              </div>

              <PlatformDownloadMuseHubButton
                client:load
                museHubReleaseData={museHubReleaseData}
                OS={OS}
              />
            </div>
          </div>
        </section>
      )
    }

    <section class="mx-4 sm:mx-12 flex flex-col">
      {false && OS !== "Linux" && <h5>Other downloads</h5>}

      <div class="flex flex-col gap-4">
        {
          releaseData.map((item) => {
            return (
              <DownloadCard
                client:load
                OS={OS}
                title={item.name}
                checksum={item.checksum}
                downloadURL={item.browser_download_url}
                downloadType={item.type}
              />
            );
          })
        }
      </div>
    </section>

    <section class="py-12 mx-4 sm:mx-12">
      <h3 class="col-start-2 col-span-10 lg:col-start-1 lg:col-span-12">
        Additional resources
      </h3>
      <div
        class="col-start-2 col-span-10 lg:col-start-1 lg:col-span-12 grid grid-cols-12 gap-6 mt-4 md:mt-8"
      >
        <IconLinkCard
          icon="icon-export"
          title="FFmpeg import/export library"
          description="An optional library which handles additional file formats (like WMA, M4A, AC3 and others)"
          linkText="Link to FFmpeg library"
          targetURL="https://support.audacityteam.org/basics/installing-ffmpeg"
        />
        <IconLinkCard
          icon="icon-mixer"
          title="Plugins"
          description="Elevate your productions with a vast selection of plugins, sound effects, loops and more."
          linkText="Link to musehub"
          targetURL="https://musehub.com/"
        />
      </div>
    </section>

    <section class="mx-4 sm:mx-12 mb-20 xl:mb-24">
      <slot />
    </section>
  </main>
</BaseLayout>
