---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
    slug: string;
    thumbnail: string;
    author: string;
    date: string;
  };
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="max-w-screen-md mx-auto">
    <h1 class="text-4xl text-blue-700 font-bold mt-16 text-center">
      {frontmatter.title}
    </h1>
    <div class="flex justify-center items-center divide-x divide-gray-300 mt-4">
      <div class="flex items-center space-x-1 px-2">
        <p class="text-sm">{frontmatter.author}</p>
      </div>
      <div class="flex items-center space-x-1 px-2">
        <p class="text-sm">{frontmatter.date}</p>
      </div>
    </div>
    <img
      src={frontmatter.thumbnail}
      alt=""
      class="aspect-video object-cover rounded-lg shadow-lg mt-4"
    />
    <div class="mt-4 content"><slot /></div>
  </div>
</BaseLayout>

<style is:global>
  .content p {
    @apply mt-4 text-gray-800;
  }
</style>
